$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}


/* my styles ------- */
body{
    background: #000;
}
.navbar{
    font-family: 'Open Sans', sans-serif;

}
.navbar-inverse{
    background-color:#0F1324;
}
.almostjumbotron{
    background: url(/images/ghostTracker.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 400px;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 5%;
}
.almostjumbotron h1{
    font-family: 'IM Fell DW Pica', serif;
    color: #fff;
    line-spacing: 1em;
    font-size: 5em;
    padding:40px;

}
.almostjumbotron p{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.2em;
    margin-bottom: 20px;
    padding: 10px;
}

.tronButtons{
    list-style: none;
    
}
.btn-lg{
    font-size: 0.9em;
    color: #fff;
}
.almostjumbotron li{
    display: inline-block;
    margin: 10px;
}


.container{
    min-width: 100%;
}
.mainheadline{
    text-align: center;
    
}
.mainheadline h2{
    color: #fff;
    font-size: 3.0em;
    letter-spacing: 0.9px;
    font-family: 'Open Sans', sans-serif;

}
.recentPosts  h3, h4, h5{
    color: #fff;
   font-family: 'Open Sans', sans-serif;
}

.recentPosts img{
    width: 100%;
    max-height: 50%;
    min-height: 50%;
    margin-bottom: 10px;
}
.headline{
    width: 40%;
    margin: 0 auto;
}
.photoUpload{
    min-width: 100%;
    margin-bottom: 20px;
    margin-left: 25px;
}
.inputs{
    margin-bottom: 35px;
    // margin-left: 30px;
}
.marketing{
    margin: 0 auto;
}
.createRow{
    width: 40%;
    margin: 0 auto;
}
.well{
    background-color: #0F1324;
}











