<div class="container">
    <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand" "text-muted">ghostTracker</a>
        </div>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a ng-href="#">Home</a></li>
                <li><a ng-href="#/create">Create a Story</a></li>
                <li class="active"><a ng-href="#/list">View Stories</a></li>
                <li><a ng-href="#/search">Search for Stories</a></li>
                <!-- <li><a ng-href="#/about">About</a></li> -->
            </ul>
            <ul class="nav navbar-nav">
                <li ng-cloak ng-show-auth="login" ng-controller="LoginController"><a ng-href="#" ng-click="logout()">Log Out</a></li>
    <li ng-cloak ng-show-auth="['logout','error']"><a ng-href="#/login">Log In</a></li>
            </ul>
        </div>
    </nav>
</div>
<!-- end nav / search -->
<div class="almostjumbotron">
    <h1>ghostTracker</h1>
    <p class="lead">
      
      Share your spectral experience.
    </p>
    <ul class="tronButtons">

         <li> <p><a class="btn btn-lg" ng-href="#search">Search</a></p></li>
         <li> <p><a class="btn btn-lg" ng-href="#create">Create</a></p></li>
    </ul>
</div>
<!-- begin listing of ghost posts -->
<div class="mainheadline">
      <h2>Ghost Stories</h2>
      <hr>
</div>
<div class="listall" ng-repeat="(index, ghost) in ghosts | reverse">
        <h3>{{ghost.title | uppercase}}</h3>
        <h4>{{ghost.date | date}}</h4>
        <h4>{{ghost.city | uppercase}}</h4>
        <h5>{{ghost.location | uppercase}}</h5>
        


        <div ng-controller="CollapseDemoCtrl">
             <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">View More / Less</button>
             <hr>
             <div collapse="isCollapsed">
               <div class="well well-lg">
                    
                        <img ng-src="{{ghost.photo}}">
                
                    
                        <p class="describe">Number of people who witnessed this:</p><span class="answer"> {{ghost.number}}</span>
                        <p class="describe">Description of anything physically experienced:</p><span class="answer"> {{ghost.physical}}</span>
                        <p class="describe">Overall description of experience:</p><span class="answer">{{ghost.description}}</span>
                       
                    
                   </div> 
                </div>
                <hr>
            </div>
</div>    






