<!-- begin navigation with search bar  -->

<div class="container">
    <nav role="navigation" class="navbar navbar-inverse">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand" "text-muted">ghostTracker 1.0</a>
        </div>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a ng-href="#/">Home</a></li>
                <li class="active"><a ng-href="#/create">Create a Story</a></li>
                <li><a ng-href="#/list">View Stories</a></li>
                <li><a ng-href="#">About</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li ng-cloak ng-show-auth="login" ng-controller="LoginController"><a href="#" ng-click="logout()">Log Out</a></li>
                <li ng-cloak ng-show-auth="['logout','error']"><a href="#/login">Log In</a></li>
            </ul>
            <form role="search" class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="Search by City Name" class="form-control">
                </div>
            </form>
            
        </div>
    </nav>
</div>

<!-- end navigation with search bar  -->
<!-- begin inputs to create experience/post -->
<h3>Create a New Ghost Experience</h3>
<div class="row">
		<div>
				<form class="form-inline" role="form" novalidate ng-submit="addPost()">
					<div class="photoUpload">
							<p>Upload a photo</p>
							<input type="file" ng-model="ghost.photo">
					</div>
					<div class="allInputs">
						<div class="inputs">
							<p>Where did this happen?</p>
							<input type="text" placeholder="add city" ng-model="ghost.location">
						</div>
						<div class="inputs">
							<p>When did this happen?</p>
							<input type="number" placeholder="add apprx time" ng-model="ghost.time">
						</div>
						<div class="inputs">
							<p>How many people witnessed this?</p>
							<input type="number" placeholder="just you (1), or others?" ng-model="ghost.number">
						</div>
						<div class="inputs">
							<p>How scared were you?</p>
							<input type="text" placeholder="How scary?" ng-model="ghost.scared">
						</div>
						<div class="inputs">
							<p>Add a brief description of what happened (limited to 500 characters)</p>
							<textarea placeholder="brief description" cols="35" rows="2" ng-model="ghost.description"></textarea>
						</div>
							
					</div>
					<div class="inputs">
							<button type="submit">Submit Your Experience</button>
					</div>
				</form>
		</div>

	</div>